html, body {
  background: #2B3035;
  color: #fff;
  font-family: Helvetica, Arial, Verdana, Sans-Serif;
}

.zb-video-container {
  background: black;
}

.zb-layer-container {
  color: #fff;
}
.zb-body {
  width: 100%;
  height: 100%;
}
.zb-body > .zb-layer-container {
  width: 80%;
  margin: 0 auto;
  left: 10%;
}
