.s-videos .w-base-list._is-vertical {
  height: 100%;
}

.s-videos .w-base-list__wrap {
  height: 100%;
}

.s-videos .w-base-list__slider {
  height: 100%;
  margin-top: 100px;
  width: 100%;
}

.s-videos .w-base-list__slider .w-base-list__item {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
  padding-right: 7%;
  vertical-align: top;
  position: relative;
  width: 40%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
}
.s-videos .w-base-list__slider .w-base-list__item:nth-last-child(1) {
  padding-right: 0;
}
.s-videos .w-base-list__slider .w-base-list__item:nth-last-child(1)._active {
  width: 60%;
}
.s-videos .w-base-list__slider .w-base-list__item._active {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.s-videos .w-base-list__slider .w-base-list__item .video-thumb {
  display: block;
  position: static;
  width: 100%;
  max-width: none;
  object-fit: cover;
  height: 300px;
  height: 16vw;
  margin: 0 0 40px 0;
}

.s-videos .w-base-list__slider .w-base-list__item .video-title {
  position: static;
  font-size: 42px;
  font-weight: bold;
}

.zb-body .s-videos h1 {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}

.zb-body .s-videos h1 + p {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
}
.videos-body .zb-body > .zb-layer-container {
  background-image: url(../../img/bg-cat-food.jpg);
  background-size: cover;
  background-position: center;
}
.videos-body .s-videos {
  height: auto;
  background-color: transparent;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  padding: 0 0% 0 10%;
  box-sizing: border-box;
}
